<header class="header-area">
    <div class="header-container">
        <div class="header-logo">
            <div class="logo">
                <a href="#">
                    <img src="" alt="Furniro">
                </a>
            </div>
        </div>
        <div class="header-menu"></div>
        <div class="header-logs"></div>
    </div>
</header>


