<div class="login-area">
    <div class="container">
        <div class="login-form-area">
            {% comment %} forgot/recover password {% endcomment %}
            {% form 'recover_customer_password', class: 'customer-form customer-recover-password' %}
                <div class="form-title-wrapper">
                    <div class="page-title form-title">Reset your password</div>
                    <p class="form-subtitle">We will send you an email to reset your password</p>
                </div>
                {{ form.errors | default_errors }}
              
                <div class="email csf-line">
                  <label for="email">Email</label>
                  <input type="email" name="email">
                </div>
                <div class="submit csf-submit">
                  <input type="submit" value="Submit">
                </div>
                <div class="cancel-btn-area">
                    <a href="#login" class="cancel-btn">Cancel</a>
                </div>
              {% endform %}
              
        </div>
    </div>
</div>