* {
    margin: 0;
    padding: 0;
    outline: 0;
}
/* start common css */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a{  
    color: #000;
    text-decoration: none;
}
.page-title-wrapper{
    padding-bottom: 40px;
}
.page-title {
    font-size: 3rem;
    font-weight: 700;
}
.shopify-challenge__container {
    padding: 100px 0;
}
.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
main {
    padding: 100px 0;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
input, button {
    padding: 10px 15px;
}
input, button {
    cursor: pointer;
}
.d-flex{
    display: flex;
}
.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}
.hidden {
    display: none;
}
/* end common css */

/*  start header */

.header-area {
    padding: 20px 0;
    border-bottom: 1px solid #d2d5d8;
    background: #f6f6f7;
}
.header-container {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo a {
    display: block;
}
.logo a img {
    display: block;
}
.header-menu {
    flex: 1;
}
.header-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header-logs ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}
.header-logs ul li {
    display: inline-flex;
}
.header-logs ul li a {
    display: inline-block;
}
.header-logs ul li a img {
    display: block;
    width: 22px;
}

/*  end header */

/* start search */
.header-area{
    position: relative;
}
.search-area {
    display: block;
    position: absolute;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    display: none;
}
.search-area form {
    max-width: 500px;
    margin: 13px auto;
    position: relative;
    display: flex;
}
.search-close-btn {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.search-from-area {
    flex: 1;
}
.search-area form label {
    display: block;
    position: absolute;
    left: 20px;
    top: 5px;
    font-size: 12px;
}
.search-area form input#Search {
    width: 100%;
    padding: 24px 20px 10px 20px;
}
#predictive-search-results button {
    width: 100%;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top-width: 1px;
    margin-top: 5px;
}
#predictive-search-results {
    background: #fff;
    border: 1px solid #ddd;
}
#predictive-search-results ul li {
    padding: 10px 14px;
}
#predictive-search-results ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
#predictive-search-results ul li a {
    display: block;
}
.search-result .search-area {
    display: block;
    position: relative;
}
.search-result .search-close-btn {
    display: none;
}
.predictive-search-type {
    padding: 10px 0 10px 14px;
    background: #eee;
}
.search-result-lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 80px;
}
@media screen and (max-width:768px){
    .search-result-lists {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
.search-result-line-item {
    border: 1px solid #afafaf;
    background: #eee;
    padding: 20px;
    border-radius: 5px;
}
.result-image img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}
/* end search */

/* start customer login */
.form-title-wrapper {
    text-align: center;
    padding-bottom: 40px;
}
.form-subtitle{
    margin-top: 20px;
}
.customer-form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.csf-line {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.csf-line input {
    padding: 10px 15px;
}
.reover-password-btn {
    margin-bottom: 50px;
    display: block;
    color: inherit;
}
.csf-submit {
    display: flex;
    justify-content: center;
}
.csf-submit input {
    padding: 10px 15px;
    font-size: 17px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.customer-recover-password {
    display: none;
}
.cancel-btn-area,
.acc-create-area {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.cancel-btn,
.acc-create-btn {
    border-bottom: 1px solid #000;
}
.customer-logout-btn svg {
    width: 20px;
    margin-right: 10px;
}
.customer-logout-btn {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
}
/* end customer login */

/* start collection grid */
.collections-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
@media screen and (max-width:768px){
    .collections-area {
        grid-template-columns: repeat(1, 1fr);
    }
}
.collection-title-wrapper {
    display: flex;
    justify-content: center;
}
.collection-grid {
    border: 1px solid #d2d5d8;
    border-radius: 5px;
    padding: 20px;
}
.collection-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection-img svg {
    height: 250px;
}
.collection-title {
    font-size: 20px;
}
/* end collection grid */

/* start product grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
@media screen and (max-width:768px){
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media screen and (max-width:540px){
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
.product-grid-item {
    border: 1px solid #d2d5d8;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}
.product-img {
    width: 100%;
    display: block;
    text-align: center;
}
.product-title-wrapper {
    margin-top: 20px;
    margin-bottom: 15px;
}
.product-title {
    font-size: 20px;
    font-weight: 500;
}
.product-price {
    font-size: 16px;
    font-weight: 400;
}
.default-pagination {
    margin-top: 80px;
    text-align: center;
}
.badge {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid #d2d5d8;
    border-radius: 50px;
    display: block;
    padding: 4px 13px;
    font-size: 14px;
    color: #fff;
}
.badge.sale {
    background: rgb(51 79 180);
}
.badge.sold-out {
    background: #000;
}
/* end product grid */

/* start single product */
.product-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px;
}
.product-left {
    grid-column: span 7;
}
@media screen and (max-width:768px){
    .product-left,
    .product-right {
        grid-column: span 6!important;
    }
}
@media screen and (max-width:640px){
    .product-container {
        grid-gap: 0px;
    }
    .product-left,
    .product-right {
        grid-column: span 12!important;
    }
}
.product-big-img {
    width: 100%;
    height: 100%;
}
.product-right {
    grid-column: span 5;
}
.product-right .product-title {
    font-size: 50px;
    font-weight: 600;
}
.product-vendor {
    margin-top: 20px;
}
.product-price{
    margin-top: 20px;
}
.shopify-product-form {
    margin-top: 20px;
}
.shopify-product-form input {
    width: -webkit-fill-available;
    margin-bottom: 20px;
}
.add-to-cart-btn {
    width: 100%;
    margin-bottom: 20px;
}
.product-recommendations-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
@media screen and (max-width:768px) {
    .product-recommendations-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media screen and (max-width:768px) {
    .product-recommendations-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}
/* end single product */

/* start cart */
.cart-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.cart-shopping-link {
    border-bottom: 1px solid #000;
}
/* end cart */

/* start cart popup */
.cart-popup-holder {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background: #fff;
    padding: 30px 20px;
    z-index: 9;
    overflow: scroll;
    border-left: 1px solid #ddd;
}
.cart-popup-holder .container {
    padding: 0;
}
.cart-popup-holder .cart-shopping-link {
    position: absolute;
    margin-top: 52px;
    font-size: 14px;
}
.cart-popup-holder .cart-item-container {
    padding-bottom: 2rem;
}
.cart-popup-holder .cart-item:not(:last-child) {
    border-bottom: 1px solid #d2d5d8;
}
.cart-popup-close {
    position: absolute;
    width: 35px;
    top: 30px;
    right: 20px;
    cursor: pointer;
}
.cart-popup-holder .cart-items thead {
    display: none;
}
.cart-popup-holder .cart-item-total.large-up-hide {
    display: none;
}
.cart-popup-holder .cart-item__image {
    width: 100%;
    height: 100%;
}
.cart-popup-holder .cart-item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
}
.cart-popup-holder .cart-item-media {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: auto;
    padding: 0;
}
.cart-popup-holder .cart-item-details {
    grid-column: 3 / 9;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
}
.cart-popup-holder .cart-item-quantity {
    grid-column: 3 / span 12;
    padding: 0;
    padding-left: 10px;
    padding-top: 15px;
}
.cart-popup-holder .cart-item-total {
    grid-column: 9 / 13;
    grid-row: 1;
    padding: 0;
}
.cart-popup-holder .loading-overlay {
    top: -6px;
}
.cart-popup-holder .cart-item:not(:last-child) {
    margin-bottom: 15px;
}
@media screen and (max-width: 749px){
    .cart-popup-holder .cart-item {
        grid-column-gap: 0;
    }
    .cart-popup-holder .cart-item-total.small-hide {
        display: block;
    }
}
@media screen and (max-width: 425px){
    .cart-popup-holder {
        width: 280px;
    }
}
/* end cart popup */

/* start footer */
.footer-area {
    padding: 50px 30px;
    border-top: 1px solid #d2d5d8;
    background: #f6f6f7;
}
.footer-container {
    display: flex;
    justify-content: center;
}
/* end footer */

/* responsive */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        gap: 22px;
        padding: 0 20px;
    }
}